*.iml.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

*.orig
/app/build
/.navigation

# /app/google-services.json

.idea/workspace.xml
.idea/libraries
.idea/caches

screens/
Blueprint_Ungu_Kost_Ideal.md

